@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
body {
  background-color: #F7F9FC;
  color: #575F7D;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
}
.container {
  width: 700px;
  margin: 40px auto;
}
.img-circle {
  border-radius: 75px;
}
.card {
  margin: 20px;
  text-align: center;
  background-color: white;
  padding: 20px 30px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  box-shadow: 0px 0px 5px lightgrey;
}
.btn-purple {
  padding: 10px 15px;
  background-color: #6B72E1;
  border-radius: 4px;
}
.btn-purple:hover {
  background-color: black;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}
a {
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
h2{
  color: #77A6B6;
  font-size: 30px;
}
h1, h2 {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  color: #0D324D;
  font-size: 50px;
}
.iframe-container {
  width: 1300px;
  margin: 0 auto;
}
iframe {
  width: 1280px;
  height: 748px;
}
.icon-size {
  color: lightgrey;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}
.icon-size:hover {
  color: black;
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}


